.article {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading {
  font-size: 1.75rem;
  color: var(--color-heading);
  font-weight: bold;
}

.body {
  font-size: 18px;
  color: var(--color-body);
  line-height: 150%;
}

.info {
  display: inline-flex;
  gap: 16px;
  color: var(--color-info);
  font-size: 14px;

  > div {
    display: flex;
    gap: 8px;
  }
}
